
body {
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
  
}

.main-container{
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.sidebar {
	height: 100vh;
	width: 514px;
	float: left;
	display: flex;
	background-color: #F2CEDA;
	color: #865C6C;
}

@media (max-width: 959px){
	.sidebar {
		display: none;
	}	
}

@media (min-width: 960px) and (max-width: 961px){
	.sidebar {
		width: 450px;
	}
	header {
		padding: 40px 40px 30px 40px;
	}
	.artwork-image{
		display: none;
	}
	.artwork-attribution{
		display: none;
	}
}

@media (min-width: 962px) and (max-width: 1099px){
	.sidebar {
		width: 450px;
		height: 100vh;
		display: flex;
		flex-grow: 0;
		position: relative;
	}
	.sidebar header {
		padding: 40px 40px 30px 40px;
	}
}

@media (max-height: 730px){
	.sidebar{
		height: 100vh;
	}
	.sidebar header h1 {
		font-size: 25px;
		line-height: 30px;
	}
	.artwork-image{
		display: none;
	}
	.artwork-attribution{
		display: none;
	}
}
@media (max-height: 850px){
	.sidebar header h1 {
		font-size: 25px;
		line-height: 30px;
	}
}

.sidebar-content {
	height: 100%;
	width: initial;
}

header {
	display: block;
	text-align: left;
	padding-top: 64px;
	padding-left: 64px;
	padding-bottom: 30px;
	padding-right: 64px;
}

header .logo {
	opacity: 0.7;
	display: block;
	margin-bottom: 31px;

}

.sidebar a {
	color: inherit;
	text-decoration: underline;
}

.dribbble-logo {
	color: #865C6C;
	fill: currentColor;
	width: 90px;
	height: auto;	
}

.sidebar h1 {
	font-family: inherit;
	display: block;
	font-size: 35px;
    line-height: 38px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 0px;
}

.artwork {
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
}

.artwork-image {
	background-image: url('/static/images/art.png');
	height: 557.5px;
	max-height: 590.5px;
	background-position: bottom center;
    background-size: cover;
	
}

.artwork-attribution {
	color: inherit;
	font-size: 14px;
	line-height: 14px;
	padding-top: 25px;
	padding-left: 64px;
	padding-bottom: 35px;
	padding-right: 64px;
}

p {
	font-family: inherit;
	display: block;
	margin-bottom: 0px;
}

.content {
	float: left;
	
	height: 100vh;
}

.content p {
	font-size: initial;
	float: left;
	display: block;
}

.nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 0;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	position: relative;
}
.nav .link{
	text-align: right;
	flex-grow: 0;
	margin: 0px;

}
